@import url("https://fonts.googleapis.com/css2?family=Sora:wght@600&display=swap");

* {
  font-family: "Inter", sans-serif;
}

body {
  background-color: #272727;
}

/*nav*/
nav {
  background-color: #272727;
}

.box-nav {
  border-bottom: 1px solid #d1d1d1;
}

.logo {
  font-family: "sora";
  font-size: 24px;
}

#nav-list a {
  color: #c9c9c9;
}

#nav-list a:hover {
  color: #ffff;
}

.content {
  margin-top: 94px;
}
/*about*/
.about {
  width: auto;
}

/* content*/
.desc {
  font-family: "sora";
  color: #4ca9ff;
  font-weight: 700;
  font-size: 46px;
  line-height: 72px;
  letter-spacing: 1px;
}

/* bio */
.biography {
  padding-top: 3em;
}
.bio h3 {
  font-family: "sora";
}

.bio p {
  color: #ffff;
  font-size: 18px;
  text-align: justify;
}

.sosial-media h3 {
  font-family: "sora";
  font-size: 28px;
  color: #ffff;
  font-weight: 700;
}

.sosial-media a {
  text-decoration: none;
  color: #ffff;
  font-size: 29px;
}

.sosial-media a:hover {
  color: #4ca9ff;
}

/* deskripsi */
.deskripsi {
  margin-top: 90px;
}

.deskripsi h4 {
  font-family: "sora";
  font-size: 28px;
}
.deskripsi p {
  text-align: justify;
  line-height: 32px;
}

.card-custom {
  background-color: #323443;
  width: 45%;
  margin-left: 5%;
}

.card-icon {
  padding: 20px;
  position: absolute;
  top: -30px;
  background-color: #323443;
}

/* skills */
.skills {
  padding-top: 10%;
}

.skills h3 {
  font-family: "sora";
  font-size: 48px;
}

.card-skill {
  background-color: #323443;
}

.card-skill h4 {
  font-family: "sora";
  font-size: 28px;
}

.card-skill i {
  font-size: 48px;
  margin-right: 15px;
}

.card-skill p {
  text-align: justify;
}

.large-text {
  font-size: 50px;
}

.featured-img {
  background-color: #323443;
  width: 556px;
  height: 228px;
}

.arrow-icon {
  rotate: -45deg;
}

.container-icon {
  background-color:  #21264d;
  top: 10px;
  right: 10px;
}

.tombol {
  background-color: #63a6e4;
  color: #c9c9c9;
}

.tombol:hover{
  background-color: #c9c9c9;
  color: #ffff;
}

.footer{
  border-top: #ffff solid 1px;
}